**/*.o
**/*.d
**/kernel.asm
**/kernel.dis
**/kernel.elf
debug.sh
ls2k_debug.sh
ls2k_release.sh
build/**
.venv/
.vscode/
.vscode/*
*.bin
*.dis
copy_kernel_to_ext4.sh
oscomp/*
build/*
os.out
*.img
sdcard-la.img
sdcard-rv-final.img
sdcard-la-final.img
user/disasm_initcode.asm
user/initcode-rv
user/shell-initcode-*
output.txt
out.txt
disasm_busybox.asm
busybox.asm
busyboxhead.asm
auxval_man.txt
disasm_musl_busybox.asm
busybox_musl_unstripped.asm
temp.asm
disasm_initcode.asm
user/initcode-la
output-la.txt
output-rv.txt
disasm_busybox_glibc.asm
disasm_la_busybox_musl.asm
sdcard-la.img.bak
disasm_rv_musl_libcso.asm
outputverbose.txt
sdcard-la-final.img
sdcard-rv-final.img
cfr.c
sdcard-la-onsite.img
sdcard-rv-onsite.img
kernel-rv
kernel-la
kernel-rv-shell
kernel-la-shell
output-more.txt
output*.txt
output
ref.txt
sdcard-rv.zip
testsuits/
kernel-qemu
ref/
images/rootfs.img
images/initrd.img
images/sdcard-*.img
images/sdcard-bak/
logs/run/
logs/tmp/
!logs/
!logs/legacy/
!logs/legacy/output_la.txt
!logs/legacy/output_rv.txt
.venv/
